In [1]:
import pandas as pd
df=pd.read_csv("C:/Users/vimal/Downloads/practice/internship/chemical_compounds.csv")

In [2]:
df.head()

,Compound Name,Molecular Formula,Molecular Weight (g/mol),Density (g/cm³),Melting Point (°C),Boiling Point (°C)
0,Water,H2O,18.015,1.00000,0.0,100.00
1,Ethanol,C2H6O,46.070,0.78900,-114.1,78.37
2,Glucose,C6H12O6,180.160,1.54000,146.0,146.00
3,Sodium Chloride,NaCl,58.440,2.16000,801.0,1413.00
4,Carbon Dioxide,CO2,44.010,0.00198,-78.5,-78.50

In [3]:
df.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool